.well.well-sm.slot
  .slot-title=slot + 1
  .slot-summary
    if name
      div(style="font-size: 40px;")
        b=name
    if id
      div
        b="ID: "
        span=id
     if amiiboseries
      div
        b="Amiibo Series: "
        span=amiiboseries
    if gameseries
      div
        b="Game Series: "
        span=gameseries
    if type
      div
        b="Type: "
        span=type   .slot-title=slot + 1
    if image 
      div 
        img(src=image, style="max-height: 150")
    
    ul.slot-links
      li: a.slot-download-link(href='#') Download
      li: a.slot-upload-link(href='#') Upload
      li: a.slot-clear-link(href="#") Clear
      li: a.slot-select-link(href="#") Select
